.characteristics{

  display: grid;

}
.charRow{

  display: inline-grid;
  grid-column-gap: 5px;
  grid-template-columns: [col1-start] 53px repeat(5,158px [col2-start]);justify-items: start;
  align-items:baseline;

}
.charElement {
  width:165px;
  align-self: start;
  text-align: initial;
  font-size: small;
  font-style: italic;
}
.charTitle{
  font-weight: bolder;
  font-style: normal;
}
.recommendRow{
  border:2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

}


.lightModeBtn{
  border: 2px solid;
  border-color: rgb(247, 120, 240);
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color:rgb(247, 120, 240) ;
}

.lightModeBtn:hover{
  background-color: rgb(100, 232, 241);
  border-color: rgb(100, 232, 241);
  color:white;
}
.darkModeBtn{
  border: 2px solid;
  border-color: rgb(100, 232, 241);
  color: white;
  background: rgb(100, 232, 241);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
.darkModeBtn:hover{
  background:rgb(247, 120, 240);
  border-color: rgb(247, 120, 240);
  color:black;
}

/* .darkForm {
  background-color: black;
  color:white;
} */
.lightForm {
  background-color: white;
  color:black;
}
.modalContainer{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: first baseline;
}
#addReviewModal {
  align-self: center;
  display: flex;
  flex-direction: column;
}
#addReviewModal >label{
  margin: 5px 0 5px 0;
  text-align: left;
}
.star {
  font-size:x-large;
}
#recomend {
  margin: 10px 0 10px 0;
}
#submitBtn {
  align-self: flex-end;
  padding: 10px 20px;
  margin-top:10px;
}
