.characteristics{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
}
.charRow{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: flex-start;
}
.recommendRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#addReview {
  border: 2px solid black;
  border-color: #e7e7e7;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
#addReview:hover {
  background: #e7e7e7;
}