.progress-bar{
  width:320px;
  background-color:lightgray;

}

.label-bar {
  display: flex;
  gap:20px;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;

}
.label-bar >li{
  flex-basis: 15px;
  flex-grow: 0;
  flex-shrink: 0;
  color:white
}
