.reviewBarContainer{
  display:flex;
  justify-content: center;
  align-items: baseline;
  gap:10px;
}


.reviewBar{
  background-color: lightgray;
  width:150px;
  height:75%;
  border-radius: 0px;
  /* (height of inner div) / 2 + padding */
  padding: 0px;
  margin-bottom: 3px;
}

.reviewBar > div {
  background-color: gold;

  /* Adjust with JavaScript */
  height: 10px;
  border-radius: 0px;
}