.reviewBreakdown{
  margin-top: 10px;
  margin-bottom: 10px;
}


.reviewBarContainer{
  display:flex;
  justify-content: center;
  align-items: baseline;
  gap:10px;
  width:300px;
}


.reviewBar{
  background-color: lightgray;
  width:80%;
  height:75%;
  border-radius: 0px;
  /* (height of inner div) / 2 + padding */
  padding: 0px;
  margin-bottom: 3px;
}

.reviewBar > div {
  background-color: gold;

  /* Adjust with JavaScript */
  height: 10px;
  border-radius: 0px;
}
.filterLabel{
  white-space: nowrap;
}
.filterLabel:hover{
  text-decoration: underline;
}
.filterBtnContainer{
  display: flex;
  justify-content: space-between;
  align-items:center ;
}
.filterBtn{
}
#clearFilter {
 align-self: flex-end;
}