.reviewItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  width: 75vh;
  height:100%;
  margin:auto;
}
.reviewStarNameContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width:100%;
}


.imageRow {
  display:flex;
  justify-content: flex-start;
  align-items: baseline;
  gap:10px;

}
.reviewItemPhoto {
  height:100px;
}
.reviewItemContainer{
  max-width: 80%;
}